* {
    margin: 0;
    padding: 0;
    background-color: #82D4BB;
    font-family: 'Work Sans', sans-serif;
    color: #0F181A;
}

.container {
    display: grid;
    width: 1vw;
    height: 1vh;
    grid-template: 17vh 78vh 5vh/100vw;
    justify-items: center;
    align-items: center;
}

header {
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    background-color: #CC2936;
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#title {
    background-color: #CC2936;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 5pt;
    color: #FFFBFF;
    margin: 0;
    padding: 0;
}

#subtitle {
    background-color: #CC2936;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2pt;
    color: #FFFBFF;
    padding-bottom: 1vh;
}

#calc-shape {
    grid-row: 2 / 3;
    width: 409.8px;
    height: 537.6px;
    background-color: #08415C;
    border: transparent;
    border-radius: 15px;
    display: grid;
    grid-template: 3fr repeat(4,2fr) / repeat(4,1fr);
    align-items: center;
    justify-items: center;
}

#calc-display {
    margin: 0;
    padding: 0;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: #95C3C6;
    width: 90%;
    height: 75%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.calc-display-item {
    background-color: #95C3C6;
}

#calc-inp {
    grid-row: 1 / 2;
    align-self: center;
    font-size: 2rem;
    padding-left: 13.66px;
}

#calc-out {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: right;
    font-size: 3rem;
    padding-right: 13.66px;
}

#operatorBtns {
    margin: 0;
    padding: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    display: grid;
    grid-template: auto / repeat(4,1fr);
    background-color: #08415C;
    align-items: center;
    justify-items: center;
    column-gap: 27.32px;
}

.operator-button {
    background-color: #f59f00;
    font-size: 2rem;
    padding-bottom: 40px;
    border: none;
    border-radius: 10px;
    width: 68.3px;
    height: 38.4px;
}

.operator-button:hover {
    cursor: pointer;
    background-color: #0F181A;
    color: #f59f00;
}

.oclicked {
    background-color: #0F181A;
    color: #f59f00;
}

#subtract {
    padding-bottom: 42px;
}

#multiply {
    padding-bottom: 42px;
}

#divide {
    padding-bottom: 42px;
}

#numberBtns {
    margin: 0;
    padding: 0;
    grid-row: 3 / 5;
    grid-column: 1 / 5;
    display: grid;
    grid-template: auto / repeat(4,1fr);
    background-color: #08415C;
    align-items: center;
    justify-items: center;
    column-gap: 27.32px;
    row-gap: 23.04px;
    margin-top: 92.16px;
}

.number-button {
    background-color: #FFFBFF;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    width: 68.3px;
    height: 38.4px;
}

.number-button:hover {
    cursor: pointer;
    background-color: #0F181A;
    color: #FFFBFF;
}

.nclicked {
    background-color: #0F181A;
    color: #FFFBFF;
}

#point {
    grid-column: 1 / 2;
}

#zero {
    grid-column: 2 / 3;
}

#one {
    grid-column: 1 / 2;
}

#two {
    grid-column: 2 / 3;
}

#three {
    grid-column: 3 / 4;
}

#four {
    grid-column: 1 / 2;
}

#five {
    grid-column: 2 / 3;
}

#six {
    grid-column: 3 / 4;
}

#seven {
    grid-column: 1 / 2;
}

#eight {
    grid-column: 2 / 3;
}

#nine {
    grid-column: 3 / 4;
}

.clear-button {
    background-color: #CC2936;
    color: #FFFBFF;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    width: 68.3px;
    height: 38.4px;
}

.clear-button:hover {
    cursor: pointer;
    background-color: #FFFBFF;
    color: #CC2936;
}

.cclicked {
    background-color: #FFFBFF;
    color: #CC2936;
}

#delete {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#clear {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#equal {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

footer {
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
    background-color: #f59f00;
    display: grid;
    align-items: center;
    justify-items: center;
}

#bottombar {
    z-index: -1;
}

footer p {
    background-color: #f59f00;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFBFF;
}

footer a {
    background-color: #f59f00;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFBFF;
    text-decoration: underline;
}

footer a:hover {
    color: #CC2936;
}